{% extends 'Admin/admin.html.twig' %}

{% block title %}{{"Détail du compte"|trans}} {{user.Name}}{% endblock %}

{% block body %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{"Détail du compte"|trans}} {{user.Name}}</h6>
    </div>
    <div class="card-body border-0">

        {% for message in app.flashes('success') %}
        <div class="alert alert-success text-dark">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger text-dark">
            {{ message }}
        </div>
        {% endfor %}



        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {{"Information du compte"|trans}}
                    </h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Id : {{user.Id}}
                        </li>

                        <li class="list-group-item">
                            {{"Nom du compte"|trans}} : {{user.Name}}
                        </li>

                        <li class="list-group-item">
                            {{"Email du compte"|trans}} : {{user.Email}}
                        </li>


                        {% if user.PlayTimeSeconds is defined and user.PlayTimeSeconds is not null %}
                        <li class="list-group-item">
                            {{"Temps de jeu"|trans}} : ~ {{user.PlayTimeSeconds|ago}}
                        </li>
                        {% endif %}


                        {% if user.RegistrationDate is defined and user.RegistrationDate is not null %}
                        <li class="list-group-item">
                            {{"Date d'inscription"}} : {{user.RegistrationDate|date('d/m/Y')}}
                        </li>
                        {% endif %}


                        <li class="list-group-item">
                            {{"Status"|trans}} :
                            {% if user.IsBanned %}
                            <span class="badge bg-danger">{{"Banni"|trans}}</span>
                            {% else %}
                            {% if user.IsMuted %}
                            <span class="badge bg-danger">{{"En sourdine"|trans}}</span>
                            {% else %}
                            <span class="badge bg-success">{{"Normal"|trans}}</span>
                            {% endif %}
                            {% endif %}
                        </li>
                    </ul>

                    <form method="POST">
                        <input type="hidden" name="user_id" value="{{user.Id}}">
                        <input type="hidden" name="username" value="{{user.Name}}">
                        {% if user.IsBanned %}
                        <button name="unban" type="submit" class="btn btn-info btn-sm btn-block">unBan</button>
                        {% else %}
                        <button name="ban" type="submit" class="btn btn-danger btn-sm btn-block">Ban</button>
                        {% endif %}

                        {% if user.IsMuted %}
                        <button name="unmute" type="submit" class="btn btn-info btn-sm btn-block">unMute</button>
                        {% else %}
                        <button name="mute" type="submit" class="btn btn-danger btn-sm btn-block">Mute</button>
                        {% endif %}
                    </form>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <h1 class="text-center">
                        {{"Personnage"|trans}}
                    </h1>
                </div>
                <table class="table table-hover text-center">
                    <thead class="text-center bg-table">
                        <tr class="text-center">
                            <th width="50px" class="text-center">#</th>
                            <th class="text-center">{{ 'Nom'|trans }}</th>
                            <th class="text-center">{{ 'Niveau'|trans }}</th>
                            <th class="text-center">{{ 'Exp'|trans }}</th>
                            <th class="text-center">{{ 'Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in characters %}
                        <tr>
                            <td class="text-center">
                                <span class="rang">{{ loop.index }}</span>
                            </td>
                            <td>{{ player.Name }}</td>
                            <td class="c">{{ player.Level }}</td>
                            <td class="r">
                                {% if player.Level == 100 %}
                                <strong>Niveau max atteint !</strong>
                                {% else %}
                                <b>{{ player.Exp }}/{{player.ExperienceToNextLevel }}</b>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                    href="{{path('admin.character.detail', {'character':player.Id})}}">Détail</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}