{% extends settings.get("theme") ~'/base.html.twig' %}

{% block title %}
{{news.name}}
{% endblock %}

{% block body %}

<h1>
    {{news.name}}
</h1>
<ul id="breadcrump">
    <li>
        <a href="{{path('home')}}">{{ 'Accueil'|trans }}</a>
    </li>
    <li> {{news.name}}</li>
</ul>

<div id="news" class="read">
    <article class="p-3">
        {{news.content|raw }}
    </article>
    <div class="clear"></div>
</div>



{% endblock %}