{% extends 'AdminPanel/base.html.twig' %}

{% block title %}{{"Accueil"|trans}} - Administration{% endblock %}

{% block body %}

{# Stats #}
<section class="row">
    <!-- Nombre total de compte -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{"Joueurs"|trans}}
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {% if total_users is not null %}  {{total_users}} {% else %} <div class="alert alert-info">Server offline</div> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nombre total de joueurs -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{"Personnages"|trans}}
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{total_players}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nombre total d'items dans la boutique -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{"Boutique"|trans}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_shop}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nombres total d'article -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{"Article"|trans}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_news}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if server_info is not null %}
    <!-- Nombre de CPS utilisé -->
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{"CPS"|trans}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_news}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Temps depuis l'ouverture' -->
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Uptime
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{server_info.uptime|ago}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</section>
{# /Stats #}

{# Graphics et listes #}
<section class="row">
    {# Playing Time #}
    <div class="col-md-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Overall playing time</h6>
            </div>
            <div class="card-body">
                <p>In total, players have accumulated {{total_playTime|ago}} playing time.</p>
                <p class="mb-0">On average, players have accumulated {{moyenne_play|ago}} playing time.</p>
            </div>
        </div>
    </div>
    {# /Playing Time #}

    {# Last Registrer #}
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Last registered accounts</h6>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for user in last_register %}
                    <a href="{{path('admin.account.detail', {'user':user.id})}}" class="list-group-item list-group-item-action" aria-current="true">
                       {{user.username}} to create an account on {{user.date|date('d/m/Y')}} 
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {# /Last Register #}

    {# Online Players #}
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Online Players</h6>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for player in online_players %}
                    <a href="{{path('admin.character.detail', {'character':player.Id})}}" class="list-group-item list-group-item-action" aria-current="true">
                       {{player.Name}} | Lv.{{player.Level}} | {{player.ClassName}}
                    </a>
                    {% else %}
                        <div class="alert alert-info">
                            No player online
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {# /Online Players #}
</section>
{% endblock %}