{% extends 'base.html.twig' %}

{% block title %}{{'Liste des pages'|trans}}{% endblock %}

{% block body %}
<div class="card bg-transparent">
    <div class="card-header p-0 bg-transparent">
        <h1>{{'Liste des pages'|trans}}</h1>
        <ul id="breadcrump">
          <li><a href="/admin">{{"Administration"|trans}}</a></li>
          <li>{{'Gérer les pages'|trans}}</li>
        </ul>
    </div>
    <div class="card-body bg-white">
        <a class="btn btn-primary btm-sm" href="{{ path('cms_pages_new') }}">{{"Créer une nouvelle page"|trans}}</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{{"Catégorie"|trans}}</th>
                    <th>{{"Titre"|trans}}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for cms_page in cms_pages %}
                <tr>
                    <td>{{ cms_page.id }}</td>
                    <td>{{ cms_page.category }}</td>
                    <td>{{ cms_page.name }}</td>
                    <td>
                        <a href="{{ path('cms_pages_edit', {'id': cms_page.id}) }}">{{"Modifier"|trans}}</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}