{% extends 'base.html.twig' %}

{% block title %}{{"Liste des articles de la boutique VIP"|trans}}{% endblock %}

{% block body %}

<div class="card rounded-0">

    <div class="card-header p-0">
        <h1>{{"Liste des articles de la boutique VIP"|trans}}</h1>
    </div>
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-2">
                <li class="breadcrumb-item"><a href="{{path('admin')}}">{{"Administration"|trans}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{"Gérer la boutique"}}</li>
            </ol>
        </nav>
        <a class="btn btn-primary" href="{{ path('cms_shop_new') }}">{{'Créer un article'|trans}}</a>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{"ID de l'item"|trans}}</th>
                    <th>{{"Nom "|trans}}</th>
                    <th>{{"Prix"|trans}}</th>
                    <th>{{"Promotion"|trans}}</th>
                    <th>{{"Visible"|trans}}</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for cms_shop in cms_shops %}
                <tr>
                    <td>{{ cms_shop.id }}</td>
                    <td>{{ cms_shop.idItem }}</td>
                    <td>{{ cms_shop.name }}</td>
                    <td>{{ cms_shop.price }}</td>
                    <td>{{ cms_shop.promotion }}</td>
                    <td>{{ cms_shop.visible }}</td>
                    <td>
                        <a href="{{ path('cms_shop_edit', {'id': cms_shop.id}) }}">{{"Modifier"|trans}}</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}