{% extends 'base.html.twig' %}

{% block title %}{{"Accueil"|trans}}{% endblock %}

{% block body %}

<h1>
    {{ 'Actualités'|trans }}
</h1>
<ul id="breadcrump">
    <li>
        {{ 'Actualités'|trans }}
    </li>
</ul>

<div id="news">
    {% for news in news %}
    <article>
        <div class="header" style="background-image:url('{{asset('assets/general/news/'~ news.imgUrl)}}');">
            <h2>
                <img src="{{asset('assets/themes/' ~ theme ~ '/img/i_news.png')}}" alt="Icône des articles"
                    loading="lazy">
                {{news.title}}
            </h2>
        </div>
        <p>
            {{ (news.content|striptags|length) > 380 ? ((news.content|striptags|slice(0, 380)) ~ '...')|raw :
            (news.content|striptags|raw) }}
        </p>
        <div class="footer">
            {{ 'Publié le'|trans }} <strong>{{ news.date|date('d/m/Y') }}</strong> {{ 'par'|trans }} <strong>{{
                news.author
                }}</strong>.
            <a href="{{path('news.read', {'id':news.id, 'slug':news.slug})}}">
                <img src="http://dbzshukuteki.teste/assets/themes/Britania/img/i_bulle.png"
                    alt="Icône bulle lire la suite" loading="lazy"> {{ 'Lire la suite'|trans }}
            </a>
        </div>
    </article>
    {% endfor %}

    <div class="clear"></div>
</div>
{% endblock %}