{% extends 'base.html.twig' %}

{% block title %}{{"Actualités"|trans}}{% endblock %}

{% block body %}

<h1>
    {{ 'Actualités'|trans }}
</h1>
<ul id="breadcrump">
	<li>
		<a href="{{ path('home') }}">{{ 'Accueil'|trans }}</a>
	</li>
	<li>{{ 'Actualités'|trans }}</li>
</ul>

<div id="news" class="mb-3">
    {% for news in news %}
    <article>
        <div class="header"
            style="background-image:url('{{asset('assets/general/news/'~ news.imgUrl)|imagine_filter('general')}}');">
            <h2>
                <img src="{{asset('assets/themes/' ~ theme ~ '/img/i_news.png')}}" alt="Icône des articles"
                    loading="lazy">
                {{news.title}}
            </h2>
        </div>
        <p>
            {{ (news.content|striptags|length) > 380 ? ((news.content|striptags|slice(0, 380)) ~ '...')|raw :
            (news.content|striptags|raw) }}
        </p>
        <div class="footer">
            {{ 'Publié le'|trans }} <strong>{{ news.date|date('d/m/Y') }}</strong> {{ 'par'|trans }} <strong>{{
                news.author
                }}</strong>.
            <a href="{{path('news.read', {'id':news.id, 'slug':news.slug})}}">
                <img src="{{asset('assets/themes/' ~ theme ~ '/img/i_bulle.png')}}" alt="Icône bulle lire la suite"
                    loading="lazy"> {{ 'Lire la suite'|trans }}
            </a>
        </div>
    </article>
    {% endfor %}

    <div class="clear"></div>

    <div class="bg-white p-3">
        {{ knp_pagination_render(news) }}
    </div>
</div>
{% endblock %}