{# templates/emails/password-reset.html.twig #}
<h1> {{ 'Demander un nouveau mot de passe'|trans }}</h1>

<p>
    {{"Bonjour"|trans}} {{username}} {{"tu as fait une nouvelle demande de mot de passe, voici le lien qui va te permettre de changer ton mot de passe."|trans}}
</p>

<a href="{{url}}">{{url}}</a>