{% extends 'Application/' ~ settings.get("theme") ~'/base.html.twig' %}

{% block title %}{{ 'Demande de nouveau mot de passe'|trans }}{% endblock %}

{% block body %}

<h1>
    <div class="ico_lock"></div>
    {{ 'Demande de nouveau mot de passe'|trans }}
</h1>
<ul id="breadcrump">
    <li>
        <a href="{{path('home')}}">{{ 'Accueil'|trans }}</a>
    </li>
    <li>{{ 'Demande de nouveau mot de passe'|trans }}</li>
</ul>

<div id="middle">
        {% for message in app.flashes('success') %}
    <div class="alert alert-success text-dark">
        {{ message }}
    </div>
    {% endfor %}

        {% for message in app.flashes('error') %}
    <div class="alert alert-danger text-dark">
        {{ message }}
    </div>
    {% endfor %}
    <form method="post" class="bg-transparent">
      
        <div class="form-group">
            <label for="inputUsername">
                <span>*</span> {{ 'Nom de compte'|trans }}:
            </label>
            <input type="text" id="inputUsername" name="username" class="w-100">
        </div>
        <div class="form-group">
            <label for="inputEmail">
                <span>*</span> {{ 'Votre adresse e-mail'|trans }}:
            </label>
            <input type="text" id="inputEmail" name="email" class="w-100">
        </div>

        <button type="sumbit" class="customBTN w-100" id="customBTN">
            {{ 'Demander un nouveau mot de passe'|trans }}
        </button>

    </form>
</div>

{% endblock %}