{% extends settings.get("theme") ~'/admin.html.twig' %}

{% block title %}{{"Paramètres du site"|trans}}{% endblock %}

{% block body %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{'Paramètres du site'|trans}}</h6>
    </div>
    <div class="card-body">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success text-dark">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger text-dark">
            {{ message }}
        </div>
        {% endfor %}

        <form action="" method="post">
            {% for param in params %}

            {% if param.setting == "use_nav_community" or param.setting == "use_right_community_button" or
            param.setting == "use_wiki" %}
            <div class="mt-3 mb-3">
                <label for="{{param.setting}}">{{param.description}}</label>
                <select name="{{param.setting}}" id="{{param.setting}}" class="form-control">
                    <option value="true" {% if param.defaultValue=="true" %}selected{% endif %}>{{"Oui"|trans}}
                    </option>
                    <option value="false" {% if param.defaultValue=="false" %}selected{% endif %}>{{"Non"|trans}}
                    </option>
                </select>
            </div>
            {% else %}
            {% if param.setting != "theme" %}
            <div class="mt-3 mb-3">
                <label for="{{param.setting}}">{{param.description}}</label>
                <input type="text" name="{{param.setting}}" id="{{param.setting}}" value="{{param.defaultValue}}"
                    class="w-100 form-control">
            </div>
            {% endif %}
            {% endif %}

            {% if param.setting == "theme" %}
            <label for="{{param.setting}}">{{param.description}}</label>
            <select name="{{param.setting}}" id="{{param.setting}}" class="form-control">
                {% for folder in folders %}
                <option value="{{folder}}" {% if param.defaultValue==folder %}selected{% endif %}>
                    {{folder}}
                </option>
                {% endfor %}
            </select>

            {% endif %}

            {% endfor %}


            <button type="submit" class="btn btn-success btn-block">
                {{"Sauvegarder"|trans}}
            </button>
        </form>
    </div>
</div>

{% endblock %}