{% extends settings.get("theme") ~'/base_admin.html.twig' %}

{% block title %}{{"Liste des items"|trans}}{% endblock %}

{% block body %}


<section id="news">
  <div class="card border-0">
    <div class="card-header p-0 border-0">
      <h1>{{"Liste des items"|trans}}</h1>

      <ul id="breadcrump">
            <li><a href="{{path('admin')}}">{{"Administration"|trans}}</a></li>
        <li>{{"Liste des items"|trans}}</li>
      </ul>
    </div>
    <div class="card-body border-0">
      <table class="ladder table table-striped py-3">
        <thead>
          <tr>
            <th>{{"Id de l'item"|trans}}</th>
            <th class="c">{{"Nom de l'item"|trans}}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td class="item_id">
              {{ item.Value.Id }}
            </td>
            <td class="c">{{ item.Value.Name }}</td>
          </tr>
          {% else %}
          <div class="alert alert-info">
            Aucune information disponible.
          </div>
          {% endfor %}
        </tbody>
      </table>

      <nav aria-label="Pagination de la liste des joueurs">
        <ul class="pagination p-3 overflow-auto">
          {% for i in 0..total_page %}
          <li class="page-item  {% if page_actuel == i %}active{% endif %}">
            <a class="page-link" data-page="{{i}}" href="{{path('admin.items', {"page":i})}}">{{ i + 1}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

</section>
{% endblock %}