{% extends 'AdminPanel/base.html.twig' %}

{% block title %}{{'Modifier une catégorie d\'article'|trans}}{% endblock %}

{% block body %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{'Modifier une catégorie d\'article'|trans}}</h6>
  </div>
  <div class="card-body">
      <form method="POST">
          <div class="form-group mt-3 mb-3">
              <input type="text" class="form-control" name="name" placeholder="{{"Nom de la catégorie"|trans}}" value="{{category.name}}">
          </div>
           <div class="form-group mt-3 mb-3">
        <input type="color" class="form-control" name="color" placeholder="{{" Nom de la catégorie"|trans}}" value="{{category.color}}">
      </div>
          <button class="btn btn-success btn-block mb-3">{{"Sauvegarder"|trans}}</button>
      </form>
    <a class="btn btn-primary btn-block mt-3" href="{{ path('admin.news.new') }}">{{"Retour à la liste"|trans}}</a>
  </div>
</div>
{% endblock %}
