{% extends 'AdminPanel/base.html.twig' %}

{% block title %}{{'Liste des articles'|trans}}{% endblock %}

{% block body %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{'Liste des articles'|trans}}</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-sm btn-primary mb-3" href="{{ path('cms_news_new') }}">{{'Créer un article'|trans}}</a>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{'Titre'|trans}}</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cms_news in cms_news %}
                    <tr>
                        <td>{{ cms_news.id }}</td>
                        <td>{{ cms_news.title }}</td>
                        <td>{{ cms_news.date ? cms_news.date|date('d/m/Y') : '' }}</td>
                        <td>
                            <a href="{{ path('cms_news_edit', {'id': cms_news.id}) }}">{{"Modifier"|trans}}</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">{{"Aucun enregistrement trouvé"|trans}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}